/* default coloring on the page*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  background-image: linear-gradient(#0b0c10, #282828, #0b0c10);
  color: white;
  font-family: "Oswald", sans-serif;
}
a:visited {
  text-decoration: none;
  color: white;
}

/* ======= Navbar ================*/
.navbar {
  width: 100%;
  background-color: #0b0c10;
  font-size: 50%;
}

.nav-item .active {
  background-color: #0b0c10 !important;
  opacity: 60%;
  border-radius: 300px;
}
.scroll {
  background-color: transparent !important;
  transition: 0.8s;
}
.scrollbottom {
  background-color: #0b0c10 !important;
  transition: 0.8s;
}
.zaraffalogo {
  height: 17%;
  width: 17%;
}
@media only screen and (max-width: 600px) {
  .zaraffalogo {
    height: 40%;
    width: 40%;
  }
}
@media only screen and (min-width: 1200px) {
  .zaraffalogo {
    height: 50%;
    width: 50%;
  }
  .navbar {
    font-size: 15px;
  }
}

/* ============Homepage=============== */
#home {
  height: 100vh;
  width: 100%;
  background-image: url(./Media/home2.jpg);
  background-size: cover;
}
@media only screen and (max-width: 600px) {
  #home {
    background-position: center;
  }
}
.divider {
  height: 10vh;
}

/* ===============About Me================ */

.aboutmeContainer {
  position: relative;
  box-sizing: border-box;
}
.aboutme_img {
  display: block;
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .aboutme_img {
    display: none;
  }
  .aboutme_div {
    display: block;
    width: 100%;
    height: 40vh;
    background-image: url(./Media/aboutme2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% 80%;
  }
}
.aboutme_hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.aboutme_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 47%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutmeHeader {
  font-size: 1.2rem;
}
.aboutmeText {
  width: 70%;
  font-size: 0.7rem;
}
@media only screen and (max-width: 600px) {
  .aboutme_overlay {
    width: 55%;
  }
  .aboutmeHeader {
    font-size: 0.8rem;
  }
  .aboutmeText {
    width: 80%;
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 768px) {
  .aboutmeText {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .aboutmeText::-webkit-scrollbar {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .aboutme_overlay {
    width: 45%;
  }
  .aboutmeHeader {
    font-size: 1.4rem;
  }
  .aboutmeText {
    width: 80%;
    font-size: 1rem;
  }
}

/* ===============Contact Me================ */

.connectContainer {
  position: relative;
  box-sizing: border-box;
}
.connect_img {
  display: block;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .connect_img {
    display: none;
  }
  .connect_div {
    display: block;
    width: 100%;
    height: 50vh;
    background-image: url(./Media/contactpage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20%;
  }
}
.connect_hover {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.connect_overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 47%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.connectText {
  width: 40%;
}
.connectText h3 {
  font-size: 1.3rem;
}

@media only screen and (max-width: 1200px) {
  .connectText {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .connectText::-webkit-scrollbar {
    display: none;
  }
  .connectText h3 {
    font-size: 0.9rem;
  }
  .name,
  .topic,
  .message {
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 600px) {
  .connectText h3 {
    font-size: 0.8rem;
  }
  .name,
  .topic,
  .message {
    font-size: 0.6rem;
  }
}
.form {
  color: white;
}
.name,
.topic,
.message {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 25%;
}
input[value] {
  text-align: center;
  color: #282828;
}

.sesocialscontainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.logobuttons {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  filter: brightness(0) invert(1);
}
.logobuttons:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 700ms;
}
.connecticon {
  height: 30px;
}
@media only screen and (max-width: 600px) {
  .connecticon {
    height: 60%;
  }
  .sesocialscontainer {
    justify-content: space-between;
  }
}

/* =====================Music Section======================*/
.dividerphoto {
  height: 60vh;
  width: 100%;
  background-image: url(./Media/divider.jpg);
  background-size: cover;
  background-position-y: center;
}
@media only screen and (max-width: 600px) {
  .dividerphoto {
    background-position: 60%;
  }
}

.deasy {
  height: 60vh;
  width: 100%;
}
.vencelogo {
  height: auto;
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .musicicon {
    padding: 10px !important;
  }
}

/* ==========Improved Gallery============= */

.imageCard {
  position: relative;
}
.image_img {
  display: block;
  width: 100%;
  height: 100%;
}
.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.image_overlay > * {
  transform: translateY(20px);
  transition: transform 0.3s;
}

.image_overlay:hover {
  opacity: 0.8;
}
.image_overlay:hover > * {
  transform: translateY(0);
}

.image_title {
  font-size: 2em;
  font-weight: bold;
}
.image_phrase {
  font-size: 1.25em;
  margin-top: 0.25em;
}

.leftrightwrapper {
  height: 500px;
}
@media only screen and (max-width: 600px) {
  .leftrightwrapper {
    padding: 2.5vh 0 !important;
  }
  .middlewrapper {
    padding-bottom: 5vh;
  }
}
.middlewrapper {
  height: 250px;
}
.backbuttonMain {
  visibility: hidden;
}
.dividerbottom {
  height: 5vh;
}
